
# The .workspace was added to increase specificity so it would override
# symbols-view

'.platform-darwin .workspace .editor':
  'cmd-r': 'goto:file-symbol'
  'cmd-alt-down': 'goto:declaration'

'.platform-win32 .workspace .editor':
  'ctrl-r': 'goto:file-symbol'
  'ctrl-alt-down': 'goto:declaration'

'.platform-darwin .workspace':
  'cmd-R': 'goto:project-symbol'

'.platform-win32 .workspace':
  'ctrl-R': 'goto:project-symbol'

'.platform-linux .workspace .editor':
  'ctrl-r': 'goto:file-symbol'
  'ctrl-shift-r': 'goto:project-symbol'
  'ctrl-alt-down': 'goto:declaration'
